@import url('https://fonts.googleapis.com/css?family=ABeeZee|Fredoka+One&display=swap');

body {
    
    background-color: BlanchedAlmond;
    
}

h1{
    font-family: 'Lora', serif;
}

.jumbotron{
    background-color: PeachPuff;
}

h1,a,.jumbotron h2{
    font-family: 'Fredoka One', cursive;
}

p{
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
}

.intro{
    font-size: 20px;
}

.h_1 h1{
    font-size: 50px;
    padding: 0 400px;
}

.jumbotron h1{
    font-size: 45px;

}



.h_yeon{
    font-size: 45px;
    padding: 0 390px;
}

.h_contact{
    font-size: 45px;
    padding: 0 470px;
}

.text2 {
  border: 1px solid black;
  background-color: lightblue;
  border-radius: 12px;
  margin-left: 500px;
  margin-right: 500px;
  
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
}



* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
